---
import works from "@data/article.json";
---

<ul class="works-list">
  {
    works.map((work) => (
      <li>
        <a class="works-list__link" href={work.url}>
          <div class="works-list__image">
            <img src={work.image} alt={`作品キャプチャ画像: ${work.title}`} />
            <div class="works-list__hover">
              <span class="works-list__hover-text">詳細を見る</span>
            </div>
          </div>
          <div class="works-list__description">
            <h3 class="works-list__heading">{work.title}</h3>
          </div>
        </a>
        <!-- タグリスト -->
        {
          work.tags && (
            <ul class="tag-list mt-s">
              {work.tags.map(tag => (
                <li class="tag-list__item">{tag}</li>
              ))}
            </ul>
          )
        }
        <p class="works-list__text" set:html={work.description.replace(/\n/g, "<br>")} />
      </li>
    ))
  }
</ul>
